body {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(#87ceeb, #e0f6ff);
            font-family: "Comic Sans MS", "Arial Rounded MT", sans-serif;
            
        }

        .panel {
            width: 70%;
            max-width: 800px;
            padding: 30px 40px;
            height: 600px;
            background: rgba(255, 255, 255, 0.9);
            border: 5px solid black;
            border-radius: 35px;
            
            text-align: center;

            box-shadow: 8px 8px 0px black;
        }

        h1 {
            margin-bottom: 15px;
            font-size: 40px;
        }

        p {
            font-size: 18px;
        }

        button {
            margin-top: 20px;
            background: orange;
            border: 3px solid black;
            border-radius: 15px;
            padding: 12px 30px;
            font-size: 18px;
               cursor: pointer;
            box-shadow: 4px 4px 0 black;
        }

        button:hover {
            transform: translate(2px, 2px);
            box-shadow: 2px 2px 0 black;
        }