body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#87ceeb, #e0f6ff);
    font-family: "Comic Sans MS", "Arial Rounded MT", sans-serif;

}

.panel img {

    width: 100%;
    max-width: 375px;


    display: block;
    margin: 0 auto;

    height: auto;

}
