body.portada {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    background: linear-gradient(#7fb3c9, #cfe3ec);
    font-family: Arial, Helvetica, sans-serif;
}.panel1 {
    display: flex;
    justify-content: center;
}
#animate-area1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 10px; 
}
.img1 {
    width: 850px; 
    display: block;
    margin: 0;
    border-radius: 15px 15px 0 0; 
}

.Escena1-1 {
    margin: 0; 
    width: 850px; 
    background-color: white;
    color: #333;
    padding: 35px 20px; 
    box-sizing: border-box; 
    text-align: center;
    font-size: 1.1rem; 
    border-radius: 0 0 15px 15px; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
#animate-area2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; 
}

.img1-2 {
    width: 350px; 
    display: block; 
    margin-bottom: 0;
    padding: 0; 
    border-radius: 15px 15px 0 0;
}

.Escena1-2 {
    margin-top: 0; 
    width: 350px; 
    background-color: white;
    color: #333;
    padding: 35px 20px; 
    box-sizing: border-box; 
    text-align: center;
    font-size: 1rem; 
    border-radius: 0 0 15px 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.img3{
    
    width: 350px; 
    display: block;
    margin: 0;
    border-radius: 15px 15px 0 0;
}

.Escena1-3 {
    margin: 0; 
    width: 350px; 
    background-color: white;
    color: #333;
    padding: 35px 20px; 
    box-sizing: border-box; 
    text-align: center;
    font-size: 1rem; 
    border-radius: 0 0 15px 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}.panel3 {
    display: flex;
    justify-content: center;
}
#animate-area3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 10px; 
}
footer {
    margin: 0;
    padding: 0;
}

.Escena2-1 {
    max-width: 850px;
}










.escena {
    position: relative;
    display: inline-block;
}

.imagen-escena {
    width: 900px;
    height: auto;
}




.zona {
    position: absolute;
    cursor: pointer;
    z-index: 10;

    background-color: rgba(0, 0, 255, 0.25);
    border: 2px solid blue;
    border-radius: 8px;
}




.zona-lentes {
    top: 270px;
    left: 650px;
    width: 110px;
    height: 160px;
}




.zona-calvo {
    top: 181px;
    left: 215px;
    width: 130px;
    height: 180px;
}




.zona-mujer2 {
    top: 286px;
    left: 110px;
    width: 120px;
    height: 170px;
}




.texto {
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);

    background: white;
    padding: 10px 14px;
    border-radius: 12px;
    font-size: 14px;
    max-width: 220px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

    display: none;
}