body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.portada {
    background: linear-gradient(#a0cded, #d5edfc);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

#animate-area	{ 
	width: 150%; 
	height: 100%; 
	background-image: url(../IMG/nubes3.png);
	background-position: 0px 0px;
	background-repeat: repeat-x;
    background-size: 150% contain;
	animation: animatedBackground 40s linear infinite;
	-ms-animation: animatedBackground 40s linear infinite;
	-moz-animation: animatedBackground 40s linear infinite;
	-webkit-animation: animatedBackground 40s linear infinite;
    animation-duration: 15000ms;
}

.introEscenas {
    margin-top: 5%;
    margin-left: 30%;
}
.intro {
    text-align: center;
    max-width: 600px;
    background: rgba(0,0,0,0.4);
    padding: 30px;
    border-radius: 15px;
    margin-top: 15%;
    margin-left: 35%;
}

.piePagina {
    margin-left: 30%;
}

.warning {
    font-weight: bold;
    margin: 20px 0;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #ff9800;
    color: black;
}

button:hover {
    background-color: #e68900;
}
#game {
    background: white;
    padding: 20px;
    width: 500px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    text-align: center;
}

.panel1 {
    display: flex;
    justify-content: center;
}
#animate-area1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 10px; 
}
.img1 {
    width: 850px; 
    display: block;
    margin: 0;
    border-radius: 15px 15px 0 0; 
}

.Escena1-1 {
    margin: 0; 
    width: 850px; 
    background-color: white;
    color: #333;
    padding: 35px 20px; 
    box-sizing: border-box; 
    text-align: center;
    font-size: 1.1rem; 
    border-radius: 0 0 15px 15px; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
#animate-area2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; 
}

.img1-2 {
    width: 350px; 
    display: block; 
    margin-bottom: 0;
    padding: 0; 
    border-radius: 15px 15px 0 0;
}

.Escena1-2 {
    margin-top: 0; 
    width: 350px; 
    background-color: white;
    color: #333;
    padding: 35px 20px; 
    box-sizing: border-box; 
    text-align: center;
    font-size: 1rem; 
    border-radius: 0 0 15px 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.img3{
    
    width: 350px; 
    display: block;
    margin: 0;
    border-radius: 15px 15px 0 0;
}

.Escena1-3 {
    margin: 0; 
    width: 350px; 
    background-color: white;
    color: #333;
    padding: 35px 20px; 
    box-sizing: border-box; 
    text-align: center;
    font-size: 1rem; 
    border-radius: 0 0 15px 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}.panel3 {
    display: flex;
    justify-content: center;
}
#animate-area3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 10px; 
}
footer {
    margin: 0;
    padding: 0;
}

.Escena2-1 {
    max-width: 850px;
}










.escena {
    position: relative;
    display: inline-block;
}

.imagen-escena {
    width: 900px;
    height: auto;
}




.zona {
    position: absolute;
    cursor: pointer;
    z-index: 10;

    background-color: rgba(0, 0, 255, 0.25);
    border: 2px solid blue;
    border-radius: 8px;
}




.zona-lentes {
    top: 270px;
    left: 650px;
    width: 110px;
    height: 160px;
}




.zona-calvo {
    top: 181px;
    left: 215px;
    width: 130px;
    height: 180px;
}




.zona-mujer2 {
    top: 286px;
    left: 110px;
    width: 120px;
    height: 170px;
}




.texto {
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);

    background: white;
    padding: 10px 14px;
    border-radius: 12px;
    font-size: 14px;
    max-width: 220px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

    display: none;
}

/*estilos para escena 2.3*/
.cockpit { width: 40%;
    height: 80vh;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 32%;
    text-align: center; 
    background-image: url(CabinaAvion.png);
    background-size: 100% 100%;
}
.panel1 {
    margin-left: 34.5%;
    width: 30%;
    height: 10vh;
    background-color: #065055;
    border: 5px solid #000;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 11px;
    font-style: oblique;
}

.contador {
    margin-left: 28%;
    margin-top: 15%;
    width: 43%;
    height: 8vh;
    background-color: #ff0000;
    border: 5px solid #000;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    color: #000;
}

.panel2 {
    margin-left: 45.5%;
    margin-top: 16%;
    width: 10%;
    height: 17vh;
    background-color: #066860;
    border: 5px solid #000;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
    font-style: oblique;
}

.panel3 {
    margin-left: 44%;
    margin-top: 1%;
    width: 13%;
    height: 8vh;
    background-color: #066860;
    border: 5px solid #000;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
}

.switch {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #555;
    border: none;
    color: white;
    align-content: space-between;

}
.switch.on { background-color: #27ae60;}
.switch.off { background-color: #c0392b;}

.led {
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    margin: 0 auto;
}
.led.on { background-color: #2ecc71; box-shadow: 0 0 10px #2ecc71;
}
.led.off { background-color: #e74c3c;
}